.UserSolution
{
    float: left;
    width: 50%;
    margin-left: 0%;
}
#UserSolutionLabel
{
    font-weight:bold; 
    font-size:larger;
    display: flex;
    justify-content: center;
}
#UserCode
{
    height: 500px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.UserLang
{
    float: left
}
.EditorialSolution
{
    float:right;
    width: 50%;
    margin-right: 0%;   
}
#EditorialSolutionLabel
{
    font-weight:bold; 
    font-size:larger;
    display: flex;
    justify-content: center;
}
#EditorialCode
{
    height: 500px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.EditorialLang
{
    float: right;
}